#mainbar {
    padding: 30px;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    row-gap: 15px;
    background-color: var(--grayish-white-color);
    flex: 3;
}

#mainbar-main-heading {
    font-size: 25px;
}

#sort-by-and-order-container {
    display: flex;
    font-size: 1.6rem;
    column-gap: 15px;
    justify-self: end;
}

#sort-by-and-order-container select {
    height: 25px;
    border: 2px solid var(--accent-color);
    background-color: var(--white-color);
    padding: 0px 2px;
}

#mainbar-add-task-div {
    background-color: var(--white-color);
    font-size: 1.6rem;
    padding: 18px;
    color: var(--accent-color);
}

#mainbar-add-task-div:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 94%);
}

#task-list {
    display: grid;
    row-gap: 15px;
}

.task {
    list-style-type: none;
    background-color: var(--white-color);
    padding: 9px 27px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.task-info-container {
    display: grid;
}

.task-name {
    font-size: 1.55rem;
}

.task-info {
    font-size: 1.2rem;
}

.task-notes {
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.task-additional-info {
    color: hsl(0deg 0% 30%);
}

.task-checkbox {
    background-color: transparent;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    appearance: none;
    border: 2px solid var(--accent-color);
}

.task-checkbox:hover::before {
    /* unicode for the check mark */
    content: '\2713';
    /* this property horizontally centered the 'check' mark inside the button */
    margin-left: 3.5px;
    color: var(--accent-color);
}