#mainbar {
    padding: 30px;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    row-gap: 20px;
}

#mainbar-main-heading {
    font-size: 25px;
}

#sort-by-and-order-container {
    display: flex;
    font-size: 1.6rem;
    column-gap: 15px;
    justify-self: end;
}

#sort-by-and-order-container select {
    height: 25px;
    border: 2px solid var(--accent-color);
    background-color: var(--white-color);
    padding: 0px 2px;
}

#mainbar-add-task-button {
    background-color: var(--white-color);
    font-size: 1.6rem;
    padding: 18px;
    color: var(--accent-color);
}

#mainbar-add-task-button:hover {
    cursor: pointer;
}