#mainbar {
    padding: 30px;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    row-gap: 15px;
}

#mainbar-main-heading {
    font-size: 25px;
}

#sort-by-and-order-container {
    display: flex;
    font-size: 1.6rem;
    column-gap: 15px;
    justify-self: end;
}

#sort-by-and-order-container select {
    height: 25px;
    border: 2px solid var(--accent-color);
    background-color: var(--white-color);
    padding: 0px 2px;
}

#mainbar-add-task-div {
    background-color: var(--white-color);
    font-size: 1.6rem;
    padding: 18px;
    color: var(--accent-color);
}

#mainbar-add-task-div:hover {
    cursor: pointer;
}

#task-list {
    display: grid;
    row-gap: 15px;
}

.task {
    list-style-type: none;
    background-color: var(--white-color);
    padding: 9px 27px;
}

.priority4-task {
    border-left: 3px solid #666;
}

.priority3-task {
    border-left: 3px solid #246fe0;
}

.priority2-task {
    border-left: 3px solid #eb8909;
}

.priority1-task {
    border-left: 3px solid var(--accent-color);
}

.task-info-container {
    display: grid;
}

.task-name {
    font-size: 1.55rem;
}

.task-notes {
    font-size: 1.2rem;
    color: #666666;
    max-width: 1158px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.task-due-date {
    font-size: 1.3rem;
    color: hsl(0deg 0% 30%);
}