#main-content {
    padding: 30px;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    row-gap: 15px;
    background-color: var(--lightgray-color);
    flex: 3;
}

#main-content-heading {
    font-size: 25px;
}

#sort-by-and-order-by-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-self: end;
    justify-content: end;
}

#sort-by-and-order-by-container select {
    border: 2px solid var(--accent-color);
    background-color: var(--white-color);
    padding: 2px;
    margin-left: 4px;
}

#main-content-add-task-elem {
    background-color: var(--white-color);
    padding: 18px;
    color: var(--accent-color);
}

#main-content-add-task-elem:hover {
    background-color: var(--light-accent-color);
    color: var(--black-color);
}

.small-text {
    font-size: 1.2rem;
}

#task-list {
    display: grid;
    row-gap: 15px;
}

.task {
    list-style-type: none;
    background-color: var(--white-color);
    padding: 9px 27px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.task-info-container {
    display: grid;
    width: 100%;
}

.task-notes {
    color: #666666;
}

.task-additional-info {
    color: hsl(0deg 0% 30%);
}

.task-checkbox {
    background-color: transparent;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid var(--accent-color);
}

.task-checkbox:hover::before {
    /* unicode for the check mark */
    content: '\2713';
    /* this vertically align the check mark */
    vertical-align: -10%;
    color: var(--accent-color);
    font-weight: bold;
}

.delete-task-elem {
    color: var(--accent-color);
    padding: 2px;
}

.delete-task-elem:hover {
    color: var(--black-color);
}