#sidebar {
    background-color: var(--white-color);
    padding: 30px;
    flex: 1;
    max-width: 325px;
    min-width: 200px;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 15px;
}

#sidebar>div:first-of-type {
    display: grid;
    row-gap: 25px;
}

#sidebar-add-task-button {
    width: fit-content;
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 15px 20px;
    border-radius: 10px;
    border: 0px;
}

.sidebar-text {
    line-height: 3.8rem;
    padding-left: 8px;
    border-left: 2px solid transparent;
    color: var(--black-color);
}

.sidebar-text:not(#sidebar-project-list-heading) {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-text:not(#sidebar-project-list-heading):hover {
    background-color: var(--lightgray-color);
}


.sidebar-text:not(#sidebar-project-list-heading):hover>.delete-project-icon {
    display: block;
}

.project-navbar {
    display: grid;
    row-gap: 8px;
}

div:has(> #sidebar-project-list-heading) {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
}

#sidebar-project-list-heading {
    margin-right: auto;
}

#add-project-button {
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
    height: max-content;
    padding: 5px;
    color: black;
}

#add-project-button:hover {
    background-color: hsl(0, 0%, 90%);
}

[data-opened-tab] {
    border-left-color: var(--accent-color);
    background-color: var(--light-accent-color);
}

[data-opened-tab]:hover {
    background-color: var(--light-accent-color) !important;
}

.delete-project-icon {
    height: 2.6rem;
    width: auto;
    padding: 0.3125rem;
    display: none;
}

.delete-project-icon:hover {
    background-color: hsl(0, 0%, 90%);
}