#sidebar {
    background-color: var(--white-color);
    padding: 30px;
    flex: 1;
    max-width: 325px;
    min-width: 200px;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 15px;
}

#sidebar>div:first-of-type {
    display: grid;
    row-gap: 25px;
}

#sidebar-add-task-button {
    width: fit-content;
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 15px 20px;
    border-radius: 10px;
    border: 0px;
}

.sidebar-text {
    line-height: 3.8rem;
    padding-left: 10px;
    color: var(--black-color);
}

.sidebar-text:not(#project-list-heading) {
    list-style-type: none;
}

.sidebar-text:not(#project-list-heading):hover {
    background-color: var(--lightgray-color);
}

.project-navbar {
    display: grid;
    row-gap: 8px;
}

#project-list-heading-and-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#add-project-button {
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
    height: max-content;
    padding: 5px;
    color: var(--black-color);
}

#add-project-button:hover {
    background-color: var(--lightgray-color);
}

[current-tab] {
    border-left: 2px solid var(--accent-color);
    background-color: var(--light-accent-color);
}

[current-tab]:hover {
    background-color: var(--light-accent-color) !important;
}