#task-modal {
    padding: 15px 30px 30px;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* this visually centered the modal horizontally and vertically */
    transform: translate(-50%, -50%);
}

#task-modal::backdrop {
    backdrop-filter: blur(2px);
}

#task-form {
    display: grid;
    color: var(--black-color);
    font-size: 1.8rem;
}

#task-form>*:not(:first-child):not(:last-child) {
    margin-bottom: 25px;
}

#task-modal-close-button {
    font-size: 25px;
    justify-self: flex-end;
    border: 0px;
    background-color: transparent;
}

.task-form-control-container:has(textarea) {
    display: grid;
    row-gap: 10px;
}

.task-form-control-container>textarea,
.task-form-control-container>label+select,
.task-form-control-container>label+input {
    border: 1px solid lightgray;
}

.task-form-control-container>textarea:focus,
.task-form-control-container>label+select:focus,
.task-form-control-container>label+input:focus {
    outline: 3px solid lightblue;
}

.task-form-control-container>textarea {
    display: block;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
    resize: none;
}

.task-form-control-container:has(select),
.task-form-control-container:has(input[type='date']) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-name {
    word-wrap: break-word;
}

#task-project {
    text-overflow: ellipsis;
}

.task-form-control-container>label+select,
.task-form-control-container>label+input {
    height: 30px;
    padding: 2px 8px;
    background-color: transparent;
}

#task-modal-confirm-button {
    width: fit-content;
    padding: 8px 16px;
    background-color: var(--accent-color);
    color: var(--white-color);
    justify-self: flex-end;
    border: 0px;
    border-radius: 5px;
}